APP_CONFIG__DB__URL=postgresql+asyncpg://notifier_service:notifier_service@notifier_service_db:5433/notifier_service
APP_CONFIG__RABBIT__URL=amqp://guest:guest@rabbitmq:5672/
POSTGRES_USER=notifier_service
POSTGRES_PASSWORD=notifier_service
POSTGRES_DB=notifier_service
POSTGRES_PORT=5433