APP_CONFIG__DB__URL=postgresql+asyncpg://appointment_service:appointment_service@appointment_service_db:5432/appointment_service
APP_CONFIG__REDIS__URL=redis://redis:6379
APP_CONFIG__RABBIT__URL=amqp://guest:guest@rabbitmq:5672/
POSTGRES_USER=appointment_service
POSTGRES_PASSWORD=appointment_service
POSTGRES_DB=appointment_service